@keeper-shared:registry=https://keeper-shared-382701914337.d.codeartifact.us-east-1.amazonaws.com/npm/keeper-shared-packages/
//keeper-shared-382701914337.d.codeartifact.us-east-1.amazonaws.com/npm/keeper-shared-packages/:always-auth=true
registry=https://registry.npmjs.org/
